doctype html 
html
  head
    title Dilip Dance Academy 
    block scripts
    block style 
  body
    nav#navbar
     ul
      div#logo
        img(src="https://clipart-library.com/images_k/female-dancing-silhouette/female-dancing-silhouette-7.png")
        | DDA
      li #[a(href="/") Home]
      li #[a(href="/") About]
      li #[a(href="/") Services]
      li #[a(href="/") Class Info]
      li #[a(href="/") Contact Us] 


    block content
    footer#footer
        |Copyright © 2024 DDA.com |All Rights Reserved
