doctype html 
html
  head 
    title Dilip Dance Academy 
    style 
      include ../static/style.css 
body 


   nav#navbar
     ul
      div#logo
        img(src="https://clipart-library.com/images_k/female-dancing-silhouette/female-dancing-silhouette-7.png")
        | DDA
      li #[a(href="/") Home]
      li #[a(href="/") About]
      li #[a(href="/") Services]
      li #[a(href="/") Class Info]
      li #[a(href="/") Contact Us]

section#introSection
        div Welcome to Dilip's Choreography Hub:
        div Where Dance Speaks
        div.small Eat Sleep Dance Repeat

section#missionSection 
          h1 Our Mission
          div.card
             h2 Joyful Steps
             div.card-box
                div.card-img
                   img(src="https://cdn.dribbble.com/users/1830380/screenshots/3697927/media/2877118030da4801b0c6f1334f3ec31a.jpg?resize=400x300&vertical=center")

                
             h3   We have a special mission — to be the bridge that brings the joy of dance to life's most cherished moments.
        
          div.card
             h2  Our Commitment
             div.card-box
                div.card-img
                   img(src="https://i.etsystatic.com/16454555/r/il/139064/2365600608/il_fullxfull.2365600608_8e4n.jpg")

               
             h3  Create Magical Wedding Moments 
             h3 Foster Excellence in Competition
             h3 Adapt to Evolving Dance Trends
          
          div.card
             h2 Our Vision
             div.card-box
                div.card-img
                   img(src="https://i.pinimg.com/originals/9b/82/e2/9b82e2bb0d0c7a70c6c7169ffde1230f.png")

             h3  At our Dance Website, our vision is to make every wedding dance unforgettable and every competition performance exceptional.
             

section#sponsorsSection
      h1 Our Instructors
      
         
         
         
div.card1
 h2 Meet Our Instructor
         
      Br   
      p Dance is an art form that thrives under the guidance of passionate and experienced instructors. Our team of dedicated instructors brings a wealth of knowledge, talent, and enthusiasm to every dance class. Get to know the individuals who will inspire and guide you on your dance journey:

div.card1
 h2 Join Us on the Dance Floor! 
   Br
   p I am Dilip Ahirwar, a passionate and experienced dance instructor dedicated to sharing the joy of dance with students of all levels. I have 5 years of experience in the world of dance . With a background in traditional and modern dance style , I bring a unique blend of expertise and enthusiasm to every class.
   
div.card1
  h2 Choreographing Dreams
  
  div.card1-box
                div.card1-img
                   img(src="https://www.sportwaikato.org.nz/sportwaikato/media/sw/directory/image-dance-logo20180826093950888.jpg")

   
   p Weaving dreams into choreography, where every dance tells a story untold.






script
     include ../static/index.js 
footer#footer
        |Copyright © 2024 DDA.com |All Rights Reserved